.add_task_dialog {
  width: 70%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 1.4rem;
  background: linear-gradient(#c03bf0, #9708cc);
  position: fixed;
  border-radius: 15px;
  left: 15%;
  bottom: 40px;
  color: white;
}
